
@(message: String)

@main("") {
    <div id="container">
        <div id="A">
            <div class="A_Title">

                <img id="icon" src="assets/images/hearth.png">
            </div>
            <canvas width="500" height="480" id="face" ></canvas>
            @*<p> Stand still in front of the camera and press Start!*@
            @*</p>*@
            @*<p>*@
                @*After 5 seconds you can fill the form and Submit it!*@
            @*</p>*@
            <a id="startButtton" class="myButton" onclick="health.connectToWs()">Start!</a>
            <form id="myForm">

            </form>
            <p id="devSignature">Dev with <img id="dev" src="assets/images/hearth.png"> By Matteo Piergovanni</p>
        </div><div id="B">


            <div class="A_Title">

                <h1>USI 4 Health</h1>
            </div>
            <div class="canvasContainer" id="canvasGraph">
                <canvas id="myChart" width="1200" height="850"></canvas>
            </div>
        </div>
    </div>
}
